
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style media="screen">
      .login {
        margin-top: 100px;
      }
      input {
        width: 300px;
      }
      form {
        box-shadow: 2px solid;
      }
      .div-button {
        padding: auto;
      }
      button {
        width: 34%;
      }
    </style>
  </head>
  <body>
    <!-- <div class="row login"> -->
        <div class="col-md-8 offset-md-4 login" *ngIf="checkLogin==false">
          <form>
              <div class="form-group">
                <input class="form-control" [(ngModel)]="this.username" type="text" name="username" placeholder="Nombre">
              </div>
              <div class="form-group">
                <input class="form-control" [(ngModel)]="this.pass" type="text" name="password" placeholder="Contraseña" required>
              </div>
              <div class="form-group div-button">
                <button (click)="loguearse()" type="button" name="button" class="btn  btn-primary">Login</button>
              </div>
          </form>
        </div>
    <!-- </div> -->

  </body>
</html>
