<div  *ngIf="checkLogin==false">
          <form>
              <div >
                <input  [(ngModel)]="this.username" type="text" name="username" placeholder="Nombre">
              </div>
              <div >
                <input  [(ngModel)]="this.pass" type="password" name="password" placeholder="Contraseña" required>
              </div>
              <div >
                <button (click)="loguearse()" type="button" name="button" >Login</button>
              </div>
          </form>
        </div>
