<!-- <app-login></app-login> -->
<h1>
  Actes
</h1>
<table style="border: solid 2px;">
  <thead>
    <th>Hora inici</th>
    <th>Hora fin</th>
    <th>Group</th>
  </thead>
  <tbody>
    <td *ngFor="let a of actes; let idx=index" (click)="enviarActe(a)">
      <a routerLink="/acte/{{idx}}">{{ a.hora_inici }}</a>
    </td>
    <td *ngFor="let a of actes; let idx=index" (click)="enviarActe(a)">
      <a routerLink="/acte/{{idx}}">{{ a.hora_fi }}</a>
    </td>
    <td *ngFor="let a of actes; let idx=index" (click)="enviarActe(a)">
      <a routerLink="/acte/{{idx}}">{{ a.group.nom }}</a>
    </td>
  </tbody>
</table>
<!-- <ul>
  <li *ngFor="let a of actes; let idx=index" (click)="enviarActe(a)">
  </li>
</ul> -->

<table>

</table>
<hr>
